@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topico.css");
@import url("styles/novidades.css");
@import url("styles/footer.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --cor-de-fundo: #ebecee;
    --cor-do-cabecalho: #ffffff;
    --cor-titulo: #EB9B00;
    --cor-subtitulo: #002F52;
    --fundo-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor-rodape: #F9F9F9;
    --cor-letra-rodape: #858585;
    --cor-preta: #000000;

    --font-principal: "Poppins";
    --font-secundaria: "Josefin Sans";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
}